:root{
    --pink:#b1921d;
    
    
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}




header .navbar a{
    font-size: 2.5rem;
    padding: 0 4.5rem;
    color: #3a6e01;
    font-family:'ui',rounded;

}
header .navbar a:hover{
    color: #b1921d;

}
header .icons{
    display: flex;
    align-items: center;
   
}
header .icons i{
    font-size: 38px;
    color: #b1921d;
    margin-left: 5px;
    margin-right: 75px;
    transition: all .50s ease;
}
header .icons i:hover{
    color: #3a6e01;
    transform: translateY(-4px);
}
header #toggler{
    display:none;

}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, .3);
    display: none;
    



}

header .logo {
    font-size: 4rem;
    color: #3a6e01;
    font-weight: bolder;
    font-family: 'ui',rounded ;
}
header .logo span {
   
    color: #b1921d;
    font-family: 'ui',serif ;
   
}



header  .user-box{
    position: absolute;
    top: 75%;
    right: 3.5rem;
    background: rgba(255 255 255 /80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 25rem;
    font-size: 2rem;
    color: #3a6e01;
  
   
   

    transform-origin: top right;
    line-height: 2;
    transform: scale(1.0);
    transition:  .2s linear;
}
.logout-btn{
    background: #084710;
    color: #fff;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 5rem;
    height: 4rem;
}
.icons:hover > .user-box, 
.user-box:hover { 
    display: block; 
} 
 
.user-box { 
    display: none; 
}
